<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JavaProject01</display-name>
  <servlet>
  	<servlet-name>testing</servlet-name>
  	<servlet-class>JavaProject01.randomTestServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>login servlet</servlet-name>
  	<servlet-class>JavaProject01.loginServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>registration servlet</servlet-name>
  	<servlet-class>JavaProject01.regsFormServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>theGame servlet</servlet-name>
  	<servlet-class>JavaProject01.theGameServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>testing</servlet-name>
  	<url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>login servlet</servlet-name>
  	<url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>registration servlet</servlet-name>
  	<url-pattern>/registrationServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>theGame servlet</servlet-name>
  	<url-pattern>/theGameServlet</url-pattern>
  </servlet-mapping>
</web-app>