@charset "ISO-8859-1";

body {
	background-color: #14181c;
}

.regs {
	margin: auto;
	width: 30%;
	background-color: #2C3440;
	padding: 35px;
	font-family: "comic sans ms";
	color: #f9fafa;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 0px black;
}

.regs p.head {
	margin-top: 5px;
	margin-bottom: 30px;
	color: #99aabb
}

.regs label, input {
	width: 55%;
	margin: 5px;
	font-size: 14px;
}

.regs label[for="username"] {
	margin-right: 42.5%;
}

.regs label[for="terms"] {
	width: 90%;
	display: block;
	float: right;
}

.regs input#age {
	width: 31.5%;
}

.regs input {
	background-color: #abc;
	padding: 5px;
	margin-bottom: 15px;
	border-radius: 5px;
}

.regs input[type="text"] {
	width: 55%;
	height: 27.5px;
	border: none;
}

.regs input#email {
	width: 93%
}

.regs input[type="text"]:focus {
	outline: 0;
	box-shadow: 0px 0px 3px 0.5px #14181c;
	background-color: #fff;
	border: none;
}

.regs input#terms {
	outline: 0;
	width: 10px;
	display: inline;
	background-color: #abc;
}

.regs input#terms:checked {
	outline: 0;
	box-shadow: 0px 0px 3px 0.5px #14181c;
	background-color: #fff;
	border: none;
}

p.submit {
	display: flex;
}

p.submit input {
	background-color: #26bc42;
	text-align: center;
	border: none;
	color: #fff;
	padding: 10px 20px 10px 20px;
	margin: auto;
}

p.submit input:hover {
	background-color: #269f42;
}

p.links, .invalid {
	color: #F9FAFA;
	font-size: 12px;
	margin: auto;
	text-align: center;
	opacity: 0.8;
}

a {
	color: #F9FAFA;
	font-size: 12.5px;
}

a:hover {
	text-decoration: underline;
}

.invalid {
	color: red;
	margin: auto auto auto auto;
	opacity: 1;
}